parameters:
	paths:
		- src

	fileExtensions:
		- php

	symfony:
		containerXmlPath: var/cache/dev/Magephi_KernelDevDebugContainer.xml
		consoleApplicationLoader: tests/console-application.php

	scanDirectories:
		- var/cache/dev/Symfony/Config
	scanFiles:
		- vendor/symfony/dependency-injection/Loader/Configurator/ContainerConfigurator.php

	treatPhpDocTypesAsCertain: false

	ignoreErrors:
		-
			message: '#PHPDoc tag @var for variable \$env has no value type specified in iterable type array#'
			path: src/Entity/Environment/Emakina.php
		-
			message: '#Method Magephi\\Component\\Json::getContent\(\) return type has no value type specified in iterable type array#'
			path: src/Component/Json.php
		-
			message: '#Method Magephi\\Component\\Json::getContent\(\) should return array but returns mixed#'
			path: src/Component/Json.php
		-
			message: '#Method Magephi\\Component\\Json::putContent\(\) has parameter \$content with no value type specified in iterable type array#'
			path: src/Component/Json.php

